<a href="https://colab.research.google.com/github/sauravkumarkash1/python-with-colab/blob/master/Cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 
EX-
    1. Read a CSV File. 
    
   Print column wise output.(Transpose manner)
    
  Input: filename.csv


      Col1 Col2 Col3 Col4


      r1c1 r1c2 r1c3 r1c4


      r2c1 r2c2 r2c3 r2c4


      r3c1 r3c2 r3c3 r3c4


  Output:


     Col1 r1c1 r2c1 r3c1


    Col2 r1c2 r2c2 r3c2


    Col3 r1c3 r2c3 r3c3


    Col4 r1c4 r2c4 r3c4

In [8]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [9]:
print("38110513-SAURAV KUMAR-Ex-1") 
import pandas as p
df=p.read_csv("train.csv")
print(df)
print(df.T)

38110513-SAURAV KUMAR-Ex-1
          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]
                                                   0      ...                             31961
id                                                     1  ...                             31962
label                                                  0  ...                                 0
tweet   @user when a father is dysfunctional and is s...  ...  thank you @user for you follow

[3 rows x 31962 columns]

In [10]:
#To Display the range of index values(No. of rows in dataframe)
df.index

RangeIndex(start=0, stop=31962, step=1)

In [11]:
#To Display column label of dataframe
df.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [12]:
#To get the total number of elements from the dataframe
df.size

95886

In [13]:
#To get the dimentionality of tge dataframe
# No of rows and no of columns
df.shape

(31962, 3)

In [14]:
import pandas as p
d1 = p.read_csv("train.csv",index_col=0)
print(d1)

       label                                              tweet
id
1          0   @user when a father is dysfunctional and is s...
2          0  @user @user thanks for #lyft credit i can't us...
3          0                                bihday your majesty
4          0  #model   i love u take with u all the time in ...
5          0             factsguide: society now    #motivation
...      ...                                                ...
31958      0  ate @user isz that youuu?ðððððð...
31959      0    to see nina turner on the airwaves trying to...
31960      0  listening to sad songs on a monday morning otw...
31961      1  @user #sikh #temple vandalised in in #calgary,...
31962      0                   thank you @user for you follow

[31962 rows x 2 columns]

In [15]:
#Function head returns the first n rows from the dataframe
df.head(9)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...

In [16]:
#Function tail returns the last n rows from the dataframe
df.tail(8)

          id  label                                              tweet
31954  31955      0  #holiday   bull up: you will dominate your bul...
31955  31956      0  less than 2 weeks ð
ðð¼ð¹ððµ @us...
31956  31957      0  off fishing tomorrow @user carnt wait first ti...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

To access scalar value,the fastest way is to use the 'at' and 'iat' methods

In [17]:
#To access a scalar value from dataframe using row index and column name
df.at[9,'id']

10

In [18]:
#To access a scalar value from dataframe using row index and column index
df.iat[7,2]

"the next school year is the year for exams.ð\x9f\x98¯ can't think about that ð\x9f\x98\xad #school #exams   #hate #imagine #actorslife #revolutionschool #girl"

In [19]:
#To access a group of rows and columns by labels
df.loc[:,'id']

0            1
1            2
2            3
3            4
4            5
         ...
31957    31958
31958    31959
31959    31960
31960    31961
31961    31962
Name: id, Length: 31962, dtype: int64

In [20]:
#dtype function returns series with of each column
df.dtypes

id        int64
label     int64
tweet    object
dtype: object

In [21]:
#returns count of unique datatypes in the data frame
df.dtypes.value_counts()

int64     2
object    1
dtype: int64

In [22]:
#Describe the data frame
df.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

In [29]:
x = df.iloc[:,:-1] #Retrives all the columns except the last column
y = df.iloc[:,-1] #Retrives only the last column
print(x)
print(y)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)
print(x_test)

          id  label
0          1      0
1          2      0
2          3      0
3          4      0
4          5      0
...      ...    ...
31957  31958      0
31958  31959      0
31959  31960      0
31960  31961      1
31961  31962      0

[31962 rows x 2 columns]
0         @user when a father is dysfunctional and is s...
1        @user @user thanks for #lyft credit i can't us...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
31957    ate @user isz that youuu?ðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    @user #sikh #temple vandalised in in #calgary,...
31961                     thank you @user for you follow
Name: tweet, Length: 31962, dtype: object
          id  label
13667  13668      0
22090  22091      0
21397  21398      0
26091  26092      0
23671  23672      0
...      ...    ...
10840  10841      0
2337    2338      0
20627  20628      0
15583  15584      1
28627  28628      0

[6393 rows x 2 columns]

Ex-2. Write a python function evenDigits(lower, upper), which will find all such numbers between lower limit and upper limit (both included) such that each digit of the number is an even number.The numbers obtained should be printed in a comma-separated sequence on a single line.





      Example:       evenDigits(2000, 3000)


      Output:


      2, 2, 2, 2


      2, 4, 6, 8

In [7]:
print("38110513-SAURAV KUMAR-Ex-2")
def even(l,u):
    item=[]
    for i in range(l,u):
        k=0
        s=str(i)
        length=len(s)
        for j in range(len(s)):
            if int(s[j])%2==0 and int(s[j])!=0:
                k+=1
        if k==length:
            item.append(str(i))
    print(",".join(item))
l=int(input('Enter lower limit '))
u=int(input('Enter upper limit '))
even(l,u)

38110513-SAURAV KUMAR-Ex-2
Enter lower limit 2000
Enter upper limit 3000
2222,2224,2226,2228,2242,2244,2246,2248,2262,2264,2266,2268,2282,2284,2286,2288,2422,2424,2426,2428,2442,2444,2446,2448,2462,2464,2466,2468,2482,2484,2486,2488,2622,2624,2626,2628,2642,2644,2646,2648,2662,2664,2666,2668,2682,2684,2686,2688,2822,2824,2826,2828,2842,2844,2846,2848,2862,2864,2866,2868,2882,2884,2886,2888

Ex-3.Write a Python program to read last n lines of a file.

In [12]:
def lastline(f,n):
  with open(f) as file:
    print('The last',n,'lines from file : 0,f')
    for line in(file.readlines()[-n:]):
      print(line,end='')

from google.colab import files
uploaded = files.upload()

fname=input('Enter file name : ')
n=int(input('no of last lines to read : '))
try:
  lastline(fname,n)
except:
  print('Error: no such file')

Saving sample.txt to sample (1).txt
Enter file name : sample.txt
no of last lines to read : 2
The last 2 lines from file : 0,f
How are you?
what are you doing?

Ex-4. Write a Python program to count the frequency of words in a file.

In [25]:
from collections import Counter
def word_count(fname):
  with open(fname) as f:
    return Counter(f.read().split())


print("No of words in the file :",word_count("sample.txt"))

No of words in the file : Counter({'are': 2, 'Hi': 1, 'Hello': 1, 'How': 1, 'you?': 1, 'what': 1, 'you': 1, 'doing?': 1})